<% include templates/head %>

<% include templates/navigation %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <%- locals.article.content %>
  </div>
</div>

<% include templates/foot %>