<% include templates/head %>

<% include templates/navigation %>

<p>
  <% include templates/errors %>
  <% include templates/infos %>
</p>

<p>
  <b>Usage: </b>
  <ol>
    <li>Signup to create a dashboard</li>
    <li>Once you are logged in, you can add and read articles from your dashboard</li>
    <li>Paste a URL of an article to add it to your read list</li>
  </ol>
</p>

<% include templates/foot %>