<% include templates/head %>

<% include templates/navigation %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <% include templates/errors %>
    <% include templates/infos %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <p>Signup to create a dashboard.</p>
    <p>Once you are logged in, you can add and read articles from your dashboard.</p>
    <p>Paste a URL of an article to add it to your read list.</p>
    <p>You can read articles in html or pdf format.</p>
  </div> 
</div>

<% include templates/foot %>