a {
  color: #00B7FF;
}

table#articles, table#articles th, table#articles td{
  border: 1px solid black;
  border-collapse: collapse;
}

table#articles th, table#articles td {
  padding: 10px;
  text-align: left;
}

table#articles tr:nth-child(even) {
   background-color: #eee;
}

table#articles tr:nth-child(odd) {
   background-color: #fff;
}

table#articles th{
  background-color: #333;
  color: white;
}

form:invalid button {
  cursor: not-allowed;
  opacity: 0.5;
}

input:valid {
  color:green;
  border-color: green;
}