<!-- Render infos to the user -->
<% if(infos.length > 0) { %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% infos.forEach(function(info) { %>
      <p><b><%= info %></b></p>
    <% }); %>
  </div>
<% } %>