<div class="row">
  <div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <% if(!user) { %>
      <li>
        <a href="/Login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
      <% } else { %>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
      <% } %>
    </ol>
  </div>
</div>